<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@post.errors.count, "error") %>.
      </div>
      <ul class="error-list">
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.submit 'Update Post', class: 'btn btn-success' %>
  </div>
<% end %>
