<div class="row">
  <div class="col-md-12">

    <% if signed_in? %>

      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
      <br><br>

      <div class="row">

      <% @posts.each do |post| %>

        <div class="col-md-4">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= post.title %></h4>
            </div>
            <div class="panel-body">

              <p><%= render html: post.body_truncated.html_safe %></p>


              <div class="post-btns-box">
                <%= link_to 'Show', post, class: 'btn btn-default' %></td>
                <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default' %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
              </div>
            </div>
          </div>
        </div>

      <% end %>

    </div>

    <% else %>

      <h3>Public Posts</h3>

      <hr>

      <% if @posts.count == 0 %>
        <p>Sorry, there aren't any post created yet. Do you want to be the first one ?</p>
        <p>
          <%= link_to 'Create post', new_post_path %>
        </p>
      <% else %>

          <% @posts.each do |post| %>
          <article class="post">
            <%= link_to post.title, "/posts/#{post.id}", class: 'big-link' %>
            <p><%= post.body_preview.html_safe %></p>
            <%= link_to 'Continue Reading', "/posts/#{post.id}" %>
          </article>
          <% end %>

      <% end %>

    <% end %>

  </div>
</div>



