<div class="row">
  <div class="col-md-12">

    <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

    <br><br>

    <div class="row">

      <% @posts.each do |post| %>

        <div class="col-md-4">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= post.title %></h4>
            </div>
            <div class="panel-body">
              <p><%= post.body_truncated %><p>

              <%= link_to 'Show', post, class: 'btn btn-default' %></td>
              <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default' %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>



